
<h2>{{ name }}</h2>

<div class="container">
    <p>
        Das Resolutionsverfahren verwendet die <b>Mengenschreibweise</b> als einfachere Darstellung der <b>KNF</b>.<br>
        Nach und nach werden immer zwei Klauseln miteinander kombiniert.
    </p>

    <p>Der Resolutions-Graph wird nach und nach sequentiell, durch das drücken von "Next" erzeugt.</p>

    <div class="row">
        <div class="col-xs-12">
            <form (ngSubmit)="onNext()" #f="ngForm">
                <p>
                    Weiteres Beispiel:
                    <a (click)="updateParagraph()">{{ formula2 }}</a>
                </p>

                <div class="information">
                    <app-latex-paragraph #latexParagraph [inputString]="formula"></app-latex-paragraph>
                    <button class="btn btn-success" id="next-button" type="submit" #f="">{{isLast ? 'Rerun' : 'Next'}}</button>
                </div>
            
                <div class="flex-container">
                    <div class="explanation">
                        <p id="resolution-example-explanation"></p>
                        <p id="resolution-example-newcreated"></p>
                    </div>
                
                    <div class="graph">
                        <div class="container" id="resolution-full"></div>
                    </div>
                </div> 
            </form>
        </div>
    </div>
</div>
