
.button {
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.information {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

a {
    cursor: pointer;
}

.explanation {
    border: 1px solid darkorange;
    text-wrap: wrap;
    padding: 5px;
    min-width: 100px;
    max-width: 300px;
}
