
<div class="container">

    <h2><a routerLink="/grundlagen">Grundlagen</a></h2>
    <div class="flex-container">
        <div class="flex-item">
            <h3>Grammatiken</h3>
            <ul>
                <li>Formale Logik</li>
                <li>Beweisverfahren</li>
            </ul>
        </div>
        <div class="flex-item">
            <h3>Schlussregeln</h3>
            <ul>
                <li>Modus Tollens</li>
                <li>Modus Ponens</li>
            </ul>
        </div>
    </div>

    <h2>Beweisalgorithmen</h2>
    
    <a routerLink="/resolution-theory"><h3>Resolutionsverfahren</h3></a>
    <div class="flex-container">
        <div class="flex-item"><a routerLink="/resolution-example">Beispiel für das<br>Resolutionsverfahren</a></div>
        <div class="flex-item"><a routerLink="/resolution-test">Teste das<br>Resolutionsverfahren</a></div>
        <div class="flex-item"><a routerLink="/resolution-exercise">Übung zum<br>Resolutionsverfahren</a></div>
    </div>

    <a routerLink="/tableau-theory"><h3>Tableauverfahren</h3></a>
    <div class="flex-container">
        <div class="flex-item"><a routerLink="/tableau-example">Beispiel für das<br>Tableauverfahren</a></div>
        <div class="flex-item"><a routerLink="/tableau-test">Teste das<br>Tableauverfahren</a></div>
        <div class="flex-item"><a routerLink="/tableau-exercise">Übung zum<br>Tableauverfahren</a></div>
    </div>

    <a routerLink="/dpll-theory"><h3>DPLL-Verfahren</h3></a>
    <div class="flex-container">
        <div class="flex-item"><a routerLink="/dpll-example">Beispiel für das<br>DPLL-Verfahren</a></div>
        <div class="flex-item"><a routerLink="/dpll-test">Teste das<br>DPLL-Verfahren</a></div>
        <div class="flex-item"><a routerLink="/dpll-exercise">Übung zum<br>DPLL-Verfahren</a></div>
    </div>
</div>
